USE [AdventureWorks2014]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 2024-12-13 10:07:47 AM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
